.topfun{
    
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #4A4A4A;
} 
.inputform{
    text-align: center;
    color: #4A4A4A;
    background-color: #F8F7F2;
    padding: 50px;
}
